# Production requirements
-r requirements.base.txt

# Server
gunicorn==21.2.0
uvicorn[standard]==0.34.0

# Monitoring and logging
sentry-sdk==1.5.0
prometheus-client==0.14.0
python-json-logger==2.0.0
